<communication>
1. Always speak to me in English.
2. Start our sessions by asking clarifying questions to gain additional context.
3. If relevant, suggest adding the context to this Rules file for future runs.
4. If I type what appears to be a git, Makefile, shell or other command, simply
   attempt to run it and do nothing else.
</communication>

<documentation>
0. We utilize YARD to generate our documentation.
1. When documenting new components,utilize existing components as a guide.
2. If a component uses `define_part` or `define_parts`, use the `@part` macro to
   document it.
3. If a component uses `renders_one` or `renders_many`, use the `@slot` macro to
   document it.
4. If a component uses `renders_many`, use the `+` symbol after the name to
   indicate that it allows multiple calls.
5. When documenting a component, we use `@param` only for positional arguments
   and `@option` for all other keyword arguments.
6. All loco_examples in the YARD documentation should use proper HAML syntax.
7. When adding a TODO item, it should be appended to the bottom of the list in
   the README.md file.
8. Documentation should utilize proper punctuation, including for list items.
9. If an `initialize` method does not utilize the positional arguments, do not
   include them in the `@param` documentation.
10. All `@param` and `@option` documentation should be on the `initialize` method.
11. All `@param` and `@option` documentation should have newlines between them.
12. Follow this order when writing component documentation:
  a. Description
  b. Notes (Optional)
  c. Parts
  d. Slots
  e. Examples
13. We use `@loco_example` to document our examples.
14. We have many guides in our `docs/dev_guides` directory.
15. When working on .md files, please ensure they are formatted properly;
    particularly with regard to the lines wrapping at 80 characters (or very close).
</documentation>

<planning>
1. Plans live in `docs/plans`.
2. Utilize existing plans as a guide for building new plans.
3. If provided a link to a website for additional information, utilize only that
   link and refrain from visiting other sites.
4. Refrain from adding component variants unless explicitly requested.
5. List out specific files that you will use as resources for each new file.
</planning>

<coding>
1. When making a plan, only show me the steps you will take and ask to move
   forward.
2. When writing new code, follow the conventions of existing code such as
   components.
3. When writing docs, follow the conventions of existing docs such as the Button
  component.
1. When writing tests, follow the conventions of existing tests such as the
   `button_component_spec.rb`.
2. All code should be tested and have proper documentation.
3. Assume that you are a mid-level software engineer when creating new code.
4. Follow the principles of KISS (Keep It Stupid Simple).
5. Follow the principles of DRY (Don't Repeat Yourself).
6. Remember that we run everything with Docker, so some commands may need to
   change.
7. Utilize the Makefile as a resource when learning how to run commands.
8.  After making a change, re-run all tests to ensure they remain passing.
9.  When writing documentation or tests, reference the files in
    `docs/demo/app/views/examples` as a usage guide.
10. Part customizations such as `resizer_css` or `header_html` are handled by
    the parent class and do NOT need special code in the child components.
11. When completing a TODO in the README, mark it off instead of deleting it.
12. If you alter any files in `lib/loco_motion`, you need to restart the demo app.
</coding>

<committing>
0. Wait until I ask you to commit before following the rest of these steps.
1. When committing code, follow these steps:
  a. Run `make loco-test` to ensure all tests pass.
  b. Run a `git status --porcelain` to see what files changed.
  c. Run `git add .` to add all changed files to the index.
  d. Run `git diff` on all of the modified files to see what has changed.
  e. Iterate over every modified file and generate a brief description of the
     changes for that file.
  f. Compile all changes into a singular commit message utilizing Markdown
     headers, lists, and code blocks.
  g. Commit the changes.
  h. Push the changes to the remote repository.
  i. If the push created a new branch on the remote, provide a clickable link to
     create a PR on GitHub.
  j. If the push did not create a new branch on the remote, provide a clickable
     link to the existing GitHub PR.

2. When providing links for Pull Requests, always format it so I can click on
   the link.
3. We have a GitHub Pull Request template available in `.github/pull_request_template.md`.
4. When creating a commmit message, surround it in single quotes so that we can
   use Markdown and backticks in the message.
</committing>

<releasing>
1. When releasing, follow the protocol outlined in the docs/dev_guides/RELEASING.md file.
</releasing>

<commands>
1. When removing a file with `rm`, make sure to use `/bin/rm` so that it doesn't
   prompt you for confirmation.
2. All commands should be run from the root of the project (which is the default).
3. In general, you should NOT need to use `cd` to run commands.
4. We should only need to restart the demo app (`make demo-restart`) when we make
   changes to the helpers, not the components / examples.
</commands>
