= doc_title(title: "Theme Controller", comp: @comp) do |title|
  %p
    The Theme Controller component allows you to quickly switch between
    different DaisyUI themes that have been defined / setup in your Tailwind
    configuration.

= doc_example(title: "Radio Buttons") do |doc|
  - doc.with_description do
    %p
      This example showcases the theme controllers. You can use these
      controllers to switch between different themes.

  = daisy_theme_controller(css: "bg-base-100 border border-base-300 lg:rounded-full px-10 py-3")
