.mt-8.text-xs.px-2
  %strong FTC Ads Notice

  .mt-2
    :markdown
      The ads above are affiliate links to products I regularly use and highly
      recommend.
      <br />
      <br />
      I may receive a commission if you decide to purchase.
