= daisy_card(css: "bg-base-200 shadow-sm hover:shadow-lg transition-all", body_css: "p-3 text-sm", href: "https://app.privacy.com/join/GYCQ9", target: "_blank") do |card|
  - card.with_top_figure(css: "py-10 bg-[#FED551]") do
    = image_tag("logos/honeybook-black-transparent.png", class: "w-5/6", alt: "Honeybook Logo")

  :markdown
    Everything **you** need to grow **your** business with confidence!

    CRM, Lead Generation, Project Management, Contracts, Online Payments, and
    _more!_
