.prose.lg:prose-lg
  %h2 Avatars

  %p Here are some simple avatar examples.

.flex.flex-row.items-center.gap-x-4
  = daisy_avatar(css: "online", src: "https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg") do
    Daisy

  = daisy_avatar(css: "online") do
    AB