.prose.lg:prose-lg
  %h2 Collapses

  %p Here are some simple collapse examples.

= doc_example(title: "Basic Collapse", css: "mt-4") do
  = daisy_collapse(title: "Click to Open") do |collapse|
    This is the content of the collapse.
