.prose.lg:prose-lg
  %h2 Diffs

  %p Here are some simple diff examples.

  %h4 Text / HTML Diff

= daisy_diff(css: "aspect-[16/9] max-w-[800px] max-h-[450px]") do |diff|
  - diff.with_item do
    .bg-primary.text-primary-content.grid.place-content-center.text-6xl.lg:text-8xl.font-black
      LocoMotion
  - diff.with_item do
    .bg-base-200.grid.place-content-center.text-6xl.lg:text-8xl.font-black
      LocoMotion
