- data = [{col1: "foo", col: "bar"}, {col1: "fizz", col: "buzz"}]

.prose.lg:prose-lg 
  %h2 Tables

.flex.flex-row.items-center.gap-x-4 
  = daisy_table do |table|
    - table.with_head do |head|
      - head.column do
        Column 1
      - head.column do
        Column 2
    - data.each do |d|
      - table.row do |row|
        - row.column do
          = d[:col1]
        - row.column do
          = d[:col2]
