.max-w-prose
  = doc_info(url: "https://haml.info/", image_path: "logos/haml.png", image_alt: "HAML Logo") do
    :markdown
      _Loco_**Motion** embraces HAML because brackets are _so_ last decade!
      Enjoy cleaner templates with indentation-based syntax that's both elegant
      and efficient.

.prose
  :markdown
    # Haml Templates

    Haml Guide Content

= daisy_divider

= doc_buttons(css: "mt-8", current_id: params[:id])
