= doc_note(modifier: :warning, title: "Work in Progress", css: "mb-4") do
  :markdown
    These guides are still a work in progress and may change as we improve the documentation. Please check back later for updates.
