= doc_title(title: "Cally Inputs", comp: @comp) do |title|
  :markdown
    TODO: Add documentation about the Cally Input component.


= doc_example(title: "Basic Usage") do |doc|
  - doc.with_description do
    :markdown
      TODO: Add documentation about basic usage of the Cally Input component.

  = daisy_cally_input(value: "2025-07-24", popover_css: "dropdown-end")
