/* Import our fonts */
@import 'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap';

/* Import the base Tailwind theme */
@import 'tailwindcss';

/* Include our custom plugins */
@plugin '@tailwindcss/typography';
@plugin 'daisyui' {
  themes: light --default, dark --prefersdark, synthwave, retro, cyberpunk, wireframe;
}

/* Setup custom variant to reduce selector specificity for component defaults */
@custom-variant where (:where(&));

/* Setup standard dark: variant to work for both System-based & DaisyUI Theme-based dark mode */
@custom-variant dark (@media (prefers-color-scheme: dark), :root:has(input.theme-controller[value=dark]:checked) &);

/* Point to our custom config which pulls in some of the LocoMotion files */
@config "../../../tailwind.config.js";

@theme {
  --font-sans: "Open Sans", "Montserrat", sans-serif;
  --max-prose-width: 100%;
}

/* Add some custom styles */
.max-w-prose {
  max-width: var(--max-prose-width);
}

.prose {
  max-width: var(--max-prose-width);
}
